In [1]:
#Ques 1-Done
#Ques 2
5**9

1953125

In [2]:
3//2

1

In [3]:
7//3

2

In [4]:
7/3

2.3333333333333335

In [5]:
6==6

True

In [6]:
a=20;
a+=30;
a%=3;
print(a)

2

In [7]:
True*False

0

In [8]:
True&False

False

In [9]:
True and False

False

In [10]:
((6>3)and(7<4)or(18==3)and(9>3))

False

In [11]:
True is False

False

In [12]:
False in 'False'

TypeError: 'in <string>' requires string as left operand, not bool

In [13]:
((True==False)or(False>True)and(False<=True))

False

In [18]:
#Ques-3 
s1 = "Nice to have it"
s2 = "here"
s=s1+" "+s2

In [19]:
s

'Nice to have it here'

In [21]:
#Ques-4
a=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a[3][1][2][0]

'hello'

In [25]:
#Ques-5
a=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a[0]='Nice to have it here'
a[5]='Nice to have it here'

In [26]:
a

['Nice to have it here',
 2,
 [3, 4],
 [5, [100, 200, ['hello']], 23, 11],
 1,
 'Nice to have it here']

In [31]:
#Ques-6
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 
953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 
687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 
742, 717, 958,743, 527]
x=[]
for num in numbers:
    if num==237:
        break
    else:
        if not(num%2):
            x.append(num)
print(x)

[386, 462, 418, 344, 236, 566, 978, 328, 162, 758, 918]

In [32]:
#Ques-7
color_list_1 = set(["White", "Black", "Red"]) 
color_list_2 = set(["Red", "Green"])
print(color_list_1-color_list_2)

{'Black', 'White'}

In [35]:
#Ques-8
def ispangram(str):
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    for char in alphabet:
        if char not in str.lower():
            return False
    return True    
string = "I am pursuing Btech from RCEW"
if(ispangram(string)==True):
    print("Yes")
else:
    print("No")

No

In [36]:
#Ques-9
n=int(input("Enter a number:"))
num= (n+ ((n*10)+n) + ((n*100)+(n*10)+n))
print(num)

Enter a number: 5

615

In [38]:
#Ques-10
def filter(i):
    l1=[]
    l2=[]
    for a in range(len(i)):
        if a ==0:
            l1 = [int(n) for n in i[a].split(" ")] 
        else:
            l2=[int(n) for n in i[a].split(" ")]
    return(l1,l2)   
i1 = input("enter input in the form 23 54 12#98 3 17:").split("#")
x,y=filter(i1)
print(f"x = {x} and y = {y}")

enter input in the form 23 54 12#98 3 17: 23 54 12#98 3 17

x = [23, 54, 12] and y = [98, 3, 17]

In [39]:
#Ques-11
seq = list(input("enter few words seperated by comma").split(","))
seq.sort()
for i in seq:
    print(i,end=",")

enter few words seperated by comma without,hello,bag,world

bag,hello,without,world,

In [40]:
#Ques-12
d = {'Student': ['Rahul', 'Kishore', 'Vidhya', 'Raakhi'],'Marks': [57,87,67,79]}
l1 = tuple(d['Marks'])
d['Marks'].sort()
print(d['Student'][l1.index(d['Marks'][-1])])

Kishore

In [45]:
#Ques-13
s = "hello world! 123"
letters =0
digits=0
for char in s.lower():
    if (ord(char)>=48 and ord(char)<=57):
        digits +=1
    else:
        if(ord(char)>=97 and ord(char)<=122):
            letters +=1
print(f"letters = {letters},digits = {digits}")

letters = 10,digits = 3

In [46]:
#Ques-14
d = {'Name': ['Akash', 'Soniya', 'Vishakha' , 'Akshay', 'Rahul', 'Vikas'],
'Subject': ['Python', 'Java', 'Python', 'C', 'Python', 'Java'],
'Ratings': [8.4, 7.8, 8, 9, 8.2, 5.6]}
x = list(zip(d['Name'],d['Subject'],d['Ratings']))
y=[]
for i in range(len(x)):
	if x[i][1]== 'Python':
		y.append(x[i])
l1 =[]
l2=[]
l3=[]
for i in range(len(y)):
	l1.append(y[i][0])
	l2.append(y[i][1])
	l3.append(y[i][2])
newData= {}
newData['Name']= l1
newData['Subject']= l2
newData['Ratings']= l3
print(newData)

{'Name': ['Akash', 'Vishakha', 'Rahul'], 'Subject': ['Python', 'Python', 'Python'], 'Ratings': [8.4, 8, 8.2]}

In [47]:
#Ques-15
n = int(input())
divBy7 = [i for i in range(0, n) if (i % 7 == 0)]
print(divBy7)
def divChecker(n):
    for i in range(n):
        if i % 7 == 0:
            value = True
        else:
            value = False
        print(i, value)
divChecker(n)

 21

[0, 7, 14]
0 True
1 False
2 False
3 False
4 False
5 False
6 False
7 True
8 False
9 False
10 False
11 False
12 False
13 False
14 True
15 False
16 False
17 False
18 False
19 False
20 False

In [48]:
#Ques-16
t = (('UP',5),('DOWN',3),('LEFT',3),('RIGHT',2))
x = t[0][1]- t[1][1]
y = t[2][1]- t[2][1]
dis = int((((t[0][1]- t[1][1])**2) + ((t[2][1]- t[2][1])**2))**(0.5))
print(f"The distance is : {dis}")

The distance is : 2